
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JsonClass</title>
</head>
<body>

    <div>
        <input type="button" value="Submit" onclick="JsonGet()" /> 
    </div>
    <div>
        <h1>Name:</h1><h1 id="nameValue"></h1>
        <h1>Age:</h1><h1 id="ageValue"></h1>
        <h1>Phone:</h1><h1 id="phoneValue"></h1>
        <h1>IsPass:</h1><h1 id="ispassValue"></h1>

    </div>
    <script src="~/Scripts/jquery-3.7.1.js"></script>
    <script src="~/Scripts/MyJs.js"></script>
</body>
</html>