@model MVC2.Models.Student


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentInfo</title>
</head>
<body>
    <div>
        <h1>
            Name :  @Model.Name
        </h1>
        <h1>
            Age :  @Model.Age
        </h1>
        <h1>
            Phone : @Model.Phone
        </h1>
    </div>
</body>
</html>
