
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Aboutus</title>
</head>
<body>
    <div>
        <h1>Aboutus view page...</h1>
        <h1>controller home : about page </h1>
    </div>
</body>
</html>
